.nav {
  background-color: $transparent;

  width: 100%;
  padding: $base-padding * 2 0;
  .responsive-navbar {
    display: none;
  }
  .main-nav-logo {
    font-size: $font-size-xl;
    font-weight: bold;
    font-style: italic;
    color: $danger;
    width: 100%;
    text-align: center;
  }
  .nav-bar-main {
    display: flex;
    justify-content: space-between;
    .nav-bar-logo {
      display: flex;
      align-items: center;
      h1 {
        font-size: $font-size-xl;
        font-weight: bold;
        font-style: italic;
        color: $danger;
      }
      img {
        width: 100px;
        height: auto;
      }
    }
    .nav-bar-navigation {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }

  .nav-bar-navigation-ul {
    display: flex;
    flex-direction: row;
    li {
      padding: 0 $base-padding;
      font-weight: bold;
      color: $light;
      a {
        color: $light;
        &:hover {
          color: $danger;
        }
      }
    }
  }

  .nav-bar-btn {
    background-color: $danger;
    border: 1px solid transparent;
    color: $light;
    width: 8rem;
    height: 3rem;
    border-radius: 0.25rem;
    font-weight: bold;

    &:hover {
      background-color: $transparent;
      border: 1px solid $danger;
      color: $danger;
    }
  }
}

.navbar-left-slide {
  position: fixed;
  top: 4rem;
  left: 0;
  background: $light;
  width: 100vw;
  padding: 2rem;
  height: 100vh;
  z-index: 9;
  display: none;
  .navbar-left-slide-ul {
    display: flex;
    flex-direction: column;
    li {
      padding-bottom: $base-padding;
      font-weight: bold;
      color: $danger;
    }
  }
}

.responsive-navbar-btn-active {
  display: block !important;
}

@media screen and (max-width: 1100px) {
  .nav-bar-main {
    display: none !important;
  }
  .nav {
    padding: 0 !important;
    background-color: $light;
  }
  .responsive-navbar {
    display: flex !important;
    align-items: center;
    padding: 1rem $base-padding;
  }
}

@media screen and (max-width: 433px) {
  .main-nav-logo {
    font-size: $font-size-md !important;
  }
  .navbar-left-slide {
    top: 3rem !important;
  }
}
