// colors variable

$primary: #00bcd4;
$secondary: #696969;
$success: #4caf50;
$info: #2196f3;
$warning: #ffc107;
$danger: #f44336;
$light: #f4f4f4;
$dark: #212121;
$transparent: rgba(0, 0, 0, 0);

// font size variable

$base-font-size: 1rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.5rem;
$font-size-lg: 2.25rem;
$font-size-xl: 3rem;

// padding margin variable

$base-padding: 1.25rem;
$base-margin: 1.25rem;
